extends ../pug/layout_default.pug

block content
	//.grid
		.grid__row
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
		.grid__row
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
		.grid__row
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
		.grid__row
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
	section.hero
		.hero__inner
			.grid
				.grid__row
					.grid__col.grid__col_sm-6.grid__col_md-7.grid__col_lg-6
						.hero__content
							h1.hero__heading Monitor your business on real-time dashboard
							p.hero__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. 
							.hero__btn
								.btn.btn__primary
									a.btn__link.btn__link_w(href='#') Try for free
			img.hero__img.hero__img_back(src='/img/img__hero_back.png' alt='')
			img.hero__img.hero__img_front(src='/img/img__hero_front.png' alt='')
			svg.hero__layer
				use(xlink:href='/img/svgSprite.svg#bg')
			img.hero__bg-logo.hero__bg-logo_top(src='/img/img__bg_logo.png' alt='')
			img.hero__bg-logo.hero__bg-logo_bottom(src='/img/img__bg_logo.png' alt='')
	//section.section.section__first
		svg.section__layer.section__layer_hero
			use(xlink:href='/img/svgSprite.svg#bg')
	section.section.section__second
	footer.section.section__third
		svg.section__layer.section__layer_footer
			use(xlink:href='/img/svgSprite.svg#bg')