extends ../pug/layout_default.pug

block content
	.grid
		.grid__row
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
			.grid__col.grid__col_xs-1
				.unit 01
		.grid__row
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
			.grid__col.grid__col_sm-1
				.unit 01
		.grid__row
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
			.grid__col.grid__col_md-1
				.unit 01
		.grid__row
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
			.grid__col.grid__col_lg-1
				.unit 01
	section.section
		.section__first
	section.section
		.section__second
	section.section
		.section__third