// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {
	width: 100%;
	z-index: 99;
	position: absolute;
	&__row {
		padding: 16px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (min-width: $screen-md) {
			padding: 50px 0;
		}
	}
	&__nav {
		margin: 0 0 0 82px;
		display: none;
		@media (min-width: $screen-md) {
			display: flex;
		}
	}
	&__item {
		@include nav-item;
		& + & {
			margin: 0 0 0 36px;
		}
	}
	&__col {
		display: flex;
		align-items: center;
		&:nth-of-type(2) {
			display: none;
			@media (min-width: $screen-md) {
				display: flex;
			}
		}
	}
	&__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: $screen-md) {
			display: none;
		}
	}
}
