@mixin heading {
	font-weight: 700;
	margin: 0;
	line-height: 112%;
	font-size: 20px;
	@media (min-width: $screen-sm) {
		font-size: 40px;
		line-height: 47px;
	}
}
@mixin descr {
	line-height: 150%;
	color: var(--text-secondary);
	font-size: 12px;
	@media (min-width: $screen-sm) {
		font-size: 18px;
		line-height: 27px;
	}
}
@mixin content-gap-small {
	display: grid;
	grid-gap: 30px;
}
@mixin content-gap-large {
	display: grid;
	grid-gap: 36px;
}
@mixin nav-item {
	text-decoration: none;
	color: var(--text-secondary);
	transition: color .35s ease;
	& + & {
		margin: 0 0 0 36px;
	}
	&:hover {
		color: var(--color-typography-inverse);
	}
}