@mixin heading {
	font-weight: 700;
	font-size: 20px;
	line-height: 117%;
	@media (min-width: $screen-sm) {
		font-size: 24px;
	}
	@media (min-width: $screen-md) {
		font-size: 40px;
	}
}

@mixin descr {
	color: var(--text-secondary);
	font-size: 14px;
	line-height: 150%;
	@media (min-width: $screen-sm) {
		font-size: 16px;
	}
	@media (min-width: $screen-md) {
		font-size: 18px;
	}
}

@mixin title {
	font-size: 14px;
	font-weight: 700;
	line-height: 115%;
	@media (min-width: $screen-md) {
		font-size: 16px;
	}
}

@mixin nav-item {
	text-decoration: none;
	color: var(--text-secondary);
	transition: color .35s ease;
	&:hover {
		color: var(--color-typography-inverse);
	}
}