// В этом файле должны быть стили для БЭМ-блока hero, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hero {
	&__inner {
		height: 800px;
		background: var(--dark-blue);
		overflow: hidden;
		position: relative;
		padding: 0 0 424px 0;
		@media (min-width: $screen-sm) {
			
		}
	}
	&__layer {
		display: block;
		position: absolute;
		width: 3008px;
		height: 424px;
		&_hero {
			bottom: 0;
			transform: translateX(-50%) rotate(180deg);
			left: 50%;
		}
	}
	&__content {
		position: relative;
		color: aliceblue;
		z-index: 2;
	}
}