// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
	border-radius: 68px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	&__primary {
		background-color: var(--color-pink);
		transition: background-color .75s ease;
		height: 50px;
		width: 238px;
		&:hover {
			background-color: var(--color-pink-hover);
		}
	}
	&__ghost {
		width: 161px;
		height: 40px;
	}
	&__ghost &__link {
		transition: color .5s ease;
		&:hover {
			color: var(--color-typography-inverse);
		}
	}
	&__bordered {
		border: .5px solid var(--text-secondary);
		transition: background 1s ease;
		width: 161px;
		height: 40px;
		&:hover {
			background: var(--body-bg);
		}
	}
	&__link {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-size: 14px;
		border-radius: 68px;
		@media (min-width: $screen-md) {
			font-size: 16px;
		}
		&_w {
			color: var(--color-typography-inverse);
		}
		&_d {
			color: var(--text-secondary);
		}
	}
}
