//- Все примеси в этом файле должны начинаться c имени блока (features)

mixin features(vars)
	each item, item in vars
		.features__item
			.features__content
				h2.features__heading!= item.heading
				p.features__descr!= item.descr
			img.features__img.aos-init.aos-animate(src='img/img__features_' + item.num + '.png' data-aos='fade-up' data-aos-anchor-placement='top-center')