//- Все примеси в этом файле должны начинаться c имени блока (main-features)

mixin main-features(vars)
	each item, item in vars
		svg.main-features__icon
			use(xlink:href='/img/svgSprite.svg#icon__' + item.icon)
		h3.main-features__title!= item.title
		p.main-features__text!= item.text