// В этом файле должны быть стили для БЭМ-блока section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section {
	position: relative;
	overflow: hidden;
	&__first {
		height: 800px;
		background: var(--dark-blue);
		padding: 0 0 424px 0;
	}
	&__second {
		height: 500px;
	}
	&__third {
		height: 800px;
		background: var(--dark-blue);
		padding: 424px 0 0 0;
		
	}
	&__layer {
		display: block;
		position: absolute;
		width: 3008px;
		height: 424px;
		&_hero {
			bottom: 0;
			transform: translateX(-50%) rotate(180deg);
			left: 50%;
		}
		&_footer {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__content {
		position: relative;
		color: aliceblue;
		z-index: 2;
	}
}