// В этом файле должны быть стили для БЭМ-блока section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section {
	width: 100%;
	&__first {
		height: 800px;
		background: var(--dark-blue);
		border-bottom: 40px solid var(--body-bg);
		border-left: 100vw solid transparent;
		@media (min-width: $screen-sm) {
			border-bottom: 60px solid var(--body-bg);
		}
		@media (min-width: $screen-md) {
			border-bottom: 100px solid var(--body-bg);
		}
	}
	&__second {
		height: 500px;
	}
	&__third {
		height: 800px;
		background: var(--dark-blue);
		border-top: 40px solid var(--body-bg);
		border-right: 100vw solid transparent;
		@media (min-width: $screen-sm) {
			border-top: 60px solid var(--body-bg);
		}
		@media (min-width: $screen-md) {
			border-top: 100px solid var(--body-bg);
		}
	}
}
